---
const images = await import("../../public/data/backgrounds.json");
const imagesList = images.default;
---

<div
  id="parallax-bg"
  class="fixed inset-0 z-0 bg-cover bg-center bg-no-repeat transition-all duration-2000 ease-in-out"
>
</div>
<div class="fixed inset-0 z-10 bg-black/80 pointer-events-none"></div>

<script is:inline define:vars={{ imagesList }}>
  const bgElement = document.getElementById("parallax-bg");
  let currentImageIndex = 0;

  // Set initial background
  if (bgElement) {
    const p = imagesList[currentImageIndex];
    bgElement.style.backgroundImage = `url(${p})`;
  }

  // Change background every 24 seconds
  setInterval(() => {
    currentImageIndex = (currentImageIndex + 1) % imagesList.length;
    if (bgElement) {
      const p = imagesList[currentImageIndex];
      bgElement.style.backgroundImage = `url(${p})`;
    } else {
      console.warn("Background element not found.");
    }
  }, 24000);
</script>
