---

---

<footer class="bg-white/10 backdrop-blur-md text-white py-4 mt-8">
  <div class="container mx-auto px-4 text-center">
    <p>
      <span class="heartbeat">©</span> 2025 |
      <a
        href="https://syrokomskyi.com"
        class="hover:text-gray-300 transition-colors"
        target="_blank"
      >
        syrokomskyi<span class="heartbeat">.</span>com
      </a>
    </p>
  </div>
</footer>
