@import "tailwindcss";

@font-face {
  font-family: "SiteFont";
  src:
    url("/fonts/FiraMono-Bold.ttf") format("ttf"),
    url("/fonts/FiraMono-Medium.ttf") format("ttf"),
    url("/fonts/FiraMono-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SiteFont", monospace;
}

@keyframes heartbeat {
  0%,
  20%,
  100% {
    opacity: 1;
  }
  5% {
    opacity: 0.5;
  }
  10% {
    opacity: 0.8;
  }
  15% {
    opacity: 0.6;
  }
}

#info-toggle {
  animation: heartbeat 3s ease-in-out infinite;
  animation-timing-function: cubic-bezier(0.3, 0.1, 0.3, 1);
  /* TODO animation-delay: calc(0.06s * (random() - 0.6)); */
  animation-delay: 0.06s;
  transform-origin: center center;
  will-change: transform;
}
