---
import Background from "../components/Background.astro";
import Toast from "../components/Toast.astro";
import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Tool for Creating Fan Gallery for Any Roguelike Game"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="bg-gray-900 text-white min-h-screen relative">
    <Background />

    <div class="relative z-20">
      <slot />
    </div>

    <Toast />
  </body>
</html>
